<div class="sidebar">
    <a routerLink="/home"><i class="pi pi-home" style="font-size:0.800em"></i> Home</a>
    <a routerLink="/register"><i class="pi pi-user-plus" style="font-size:0.800em"></i> Register</a>
    <a routerLink="/participants"><i class="pi pi-users" style="font-size:0.800em"></i> Participants</a>
    <a routerLink="/search"><i class="pi pi-search" style="font-size:0.800em"></i> Search</a>
    <a routerLink="/about"><i class="pi pi-info" style="font-size:0.800em"></i>About</a>
  </div>

  <div style="margin-left: 20%;margin-right: 10%;margin-top:5%;">
    <router-outlet></router-outlet>
  </div> 