
<div>
    <h1>Question 1</h1>
    Project Created
    <hr><hr><hr>
    <h1>Question 2</h1>
    <app-person></app-person>
    <hr><hr><hr>
    <h1>Question 3</h1>
    <app-product></app-product>
    <hr><hr><hr>
    <h1>Question 4</h1>
    <app-secondproduct></app-secondproduct>
    <hr><hr><hr>
    <h1>Question 5</h1>
    <app-employee></app-employee>
    <hr><hr><hr>
    <h1>Question 6</h1>
    <app-thirdproduct></app-thirdproduct>
    <hr><hr><hr>
    <h1>Question 7 template driven</h1>
    <app-event></app-event>
    <hr><hr><hr>
     <h1>Question 7 reactive</h1>
    <app-eventform></app-eventform> 
    <hr><hr><hr>
    <h1>Question 9 </h1>
    <app-employeedashboard></app-employeedashboard>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <hr><hr><hr>
    <h1>Question 10</h1>
    <app-salesrep></app-salesrep>
    <hr><hr><hr><!--
    <h1>Question 11 </h1>
    <app-anotheremployee></app-anotheremployee>
    -->
        
    

</div>
<!----
<br>
<div>
    <app-header></app-header>
</div>-->