
<p-table [value]="productArray" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
             <th>Product code</th>
             <th>Product Description</th>
             <th>Unit price</th>
             <th>Quantity</th>
             <th>Category</th>
             <th>Manufacturer</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.productCode}}</td>
            <td>{{product.productDescription}}</td>
            <td>{{product.unitPrice}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.category}}</td>
            <td>{{product.manufacturer}}</td>
        </tr>
    </ng-template>
</p-table>  