<div class="navbar navbar-fixed-top navbar-default" id="topnav" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <img style="width: 80px;" src="../assets/logo.jpg">
        </div>
        <div class="collapse navbar-collapse">
            <h2 align="center" style="font-size: xx-large;color: rgb(149, 198, 240); ">Angular material Demo
                <span align="right" style="float: right;">
                    <i class="pi pi-user" style="font-size: 0.875em"></i> 
                    PRATIK
                    <i class="pi pi-sign-out" style="font-size:0.765em">
                    </i></span>
            </h2>
            

        </div>
    </div>
</div>
<app-sidenav></app-sidenav>